streamlit
pandas
numpy<2.0.0
yfinance
scikit-learn
plotly
huggingface_hub
pyarrow
pytz
pandas_market_calendars
datasets
tensorflow
pandas-datareader==0.10.0
pandas>=1.5.0,<2.0.0
pillow>=10.0.0
scikit-learn
h5py
